<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/movie.css">
</head>
<body>
    <section class="menu">
        <img class="menu-icon" src="https://cdn.iconscout.com/icon/free/png-512/menu-bar-lines-option-list-hamburger-web-5-3177.png" alt="menu icon">
        <div class="main-menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="../Views/index.html">Home</a></li>
                <li><a href="../Views/categories.html">Categories</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
        
    </section>
    <header>
        <section class="main-header">
            <img class="menu-icon" src="https://cdn.iconscout.com/icon/free/png-512/menu-bar-lines-option-list-hamburger-web-5-3177.png" alt="menu icon">
            <h1>Cine <span>Flix</span></h1>
            <img class="search-icon" src="https://image.flaticon.com/icons/png/512/64/64673.png" alt="">
            <input type="text" name="" id="">
        </section>
        <nav>
            <form name="navForm" action="categories.html"></form>
            <p><a href="../Views/index.html">Home</a></p>
            <p><a href="#movies">Movies</a></p>
            <p><a href="../Views/categories.html">Categories</a></p>
        </nav>
    </header>
    <main>
        
        <section class="slider" id="slider">
            
        </section>
        <nav class="slider-navigation"></nav>
        <form action="" name="movie">
            <h2 class="section-title">Movies:</h2>
            <section id="movies">
                
            </section>
        </form>
    </main>

    <footer>
        Cine Flix <span id="year">data</span> &copy
    </footer>

    <script src="../Scripts/crossFunctions.js"></script>
    <script src="../Scripts/interactions.js"></script>
    <script src="../Scripts/main.js"></script>
</body>
</html>